APP_OIDC_PROVIDER_URL=https://fd-auth-dev.csc.fi
APP_OIDC_CLIENT_ID=qvain-local
APP_METAX_API_HOST=metax.csc.local
APP_METAX_API_USER=qvain
APP_METAX_API_PASS=test-qvain
PGHOST=postgres.csc.local
PGDATABASE=qvaindb
PGDATA=/data/pg96/QVAIN_prod
PGUSER=qvain
PGPASSWORD=dev
PGSSLMODE=disable
PGAPPNAME=qvain
APP_QVAIN_LOOKUP_API_KEY=dev
APP_QVAIN_STATS_API_KEY=dev
VUE_APP_QVAIN_API_URL=https://qvain.csc.local/api
PORT=8081
APP_DEBUG=1
APP_DEV_MODE=1
APP_HOSTNAME=qvain.csc.local
DANGEROUSLY_DISABLE_HOST_CHECK=1
HOST=qvain.csc.local

#########################################
# SET THESE VALUES
#########################################
APP_OIDC_CLIENT_SECRET=
APP_TOKEN_KEY=
