# Ignore swap and zip files
*.swp
*.zip

# Ignore vagrant cache directory
.vagrant/

# ignore qvain-api because it is another git-repo
/qvain-api/
/qvain-js/

ansible/*.retry

# ignore release tree
/releases/

# ansible retry-file
ansible/*.retry

# ansible fact cache
ansible/.cache/
ansible/facts/

# Ansible script related
ansible/inventories/test/
ansible/files/

# Other
*.pem
*.tar.gz
__pycache__
.idea

# Mac stuff
.DS_Store
