# register real app home directory as a fact

- name: provision_app_checkpoint
  debug:
    msg: checkpoint

# register real app home directory as a fact
- user:
    name: "{{ app.user }}"
  register: app_user_info
- set_fact:
    app_user_home: "{{ app_user_info.home }}"

- include_role: name=app_config

# not sure if this should really be executed for test and stable ?
# same could be done with deploy role ?
# - include_role: name=install_app
#   when: deployment_environment_id in ['test', 'stable']

- include: build.yml

- name: Check if we can find the schema in our source code repo
  stat:
    path: "{{ app.source }}/{{ app.sqlschema }}"
  register: sqlschema_file

- include: create_db_schema.yml
  when: sqlschema_file.stat.exists
- fail:
    msg: "Uhoh! Database schema file not found in {{ app.source }}/{{ app.sqlschema }}"
  when: not sqlschema_file.stat.exists

- include_role: name=webapp

# That's all folks!
- debug:
    msg: "Local dev environment successfully set up."
  when: deployment_environment_id == 'local_development'

- debug:
    msg: "{{ deployment_environment_id }} environment successfully set up."
  when: deployment_environment_id != 'local_development'
