- name: Make sure dummy self-signed web cert directory exists
  file: path=/etc/pki/selfsigned state=directory recurse=yes

- name: Create dummy self-signed certificate
  command: "openssl req -x509 -nodes -subj '/C=FI/ST=Uusimaa/L=Espoo/O=CSC - Tieteen tietotekniikan keskus Oy/CN={{ server.fqdn }}' -days 365 -newkey rsa:2048 -keyout /etc/pki/selfsigned/{{ server.hostname }}.key -out /etc/pki/selfsigned/{{ server.hostname }}.crt"
  args:
    creates: /etc/pki/selfsigned/{{ server.hostname }}.crt

- name: Make sure web cert key directory exists
  file: path="{{ app.web_cert_key | dirname }}" state=directory recurse=yes

- name: Make sure web cert crt directory exists
  file: path="{{ app.web_cert_crt | dirname }}" state=directory recurse=yes

- name: Create link to dummy self-signed key
  file: src="/etc/pki/selfsigned/{{ server.hostname }}.key" dest="{{ app.web_cert_key }}" state=link

- name: Create link to dummy self-signed cert
  file: src="/etc/pki/selfsigned/{{ server.hostname }}.crt" dest="{{ app.web_cert_crt }}" state=link
