---

- name: Make sure we have a 'wheel' group
  group: name=wheel state=present

- name: Allow 'wheel' group to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%wheel'
    line: '%wheel ALL=(ALL) NOPASSWD: ALL'

- name: Make sure we have a 'qvain' group in OS
  group: name=qvain state=present

- name: Disable SSH password authentication
  lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: "^PasswordAuthentication"
    line: "PasswordAuthentication no"
  when: deployment_environment_id != 'local_development'
  notify: restart sshd

- include_role: name=update_packages

- name: Ensure os common packages
  yum: name={{ item }} state=latest
  with_items:
    - '@Development tools'
    - htop
    - git
    - zip
    - unzip
    - curl
    - vim
    - tcl
    - ntp
    - tree
    - zile
    - nano

- name: Disable SELinux (A better approach should be come up with!)
  selinux: state=permissive policy=targeted

# It seems at least in local dev centos 7 the fi_FI locale is already present!
# Make sure it is so also in other envs!
# - name: Install fi_FI locale
#   locale_gen:
#     name: fi_FI.UTF-8
#     state: present

- name: Set default locale as LC_ALL to fi_FI.UTF-8
  lineinfile:
    dest: /etc/environment
    state: present
    line: "LC_ALL=\"fi_FI.UTF-8\""

- name: Set default locale as LC_CTYPE to fi_FI.UTF-8
  lineinfile:
    dest: /etc/environment
    state: present
    line: "LC_CTYPE=\"fi_FI.UTF-8\""

- name: Set timezone to Europe/Helsinki
  timezone:
    name: Europe/Helsinki

- include_role: name=users

- name: Create /srv/qvain base directory
  file: path=/srv/qvain state=directory owner={{ app_user }} group=qvain mode=0755

# - block:

    # - name: Copy bash aliases to {{ app_user }} user home dir
    #   template: src=templates/bash_aliases dest=/home/{{ app_user }}/.bash_aliases owner={{ app_user }} group={{ app_user }}

    # - name: Touch .bash_profile
    #   file: path=/home/{{ app_user }}/.bash_profile owner={{ app_user }} group={{ app_user }} state=touch

    # - name: Add printing of bash aliases to {{ app_user }} profile
    #   lineinfile:
    #     dest: "/home/{{ app_user }}/.bash_profile"
    #     state: present
    #     line: "{{ item }}"
    #   with_items:
    #     - "source .bash_aliases"
    #     - "aliases"

  # when: deployment_environment_id in ['local_development', 'playground', 'test']
