---

- name: Make sure we have a 'wheel' group
  group: name=wheel state=present

- name: Allow 'wheel' group to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%wheel'
    line: '%wheel ALL=(ALL) NOPASSWD: ALL'

- name: Make sure we have app group in OS
  group: name={{ app.name }} state=present

- name: Disable SSH password authentication
  lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: "^PasswordAuthentication"
    line: "PasswordAuthentication no"
  when: deployment_environment_id != 'local_development'
  notify: restart sshd

- include_role: name=update_packages

# -wvh- removed ntp; use systemd
- name: Ensure os common packages
  yum: name={{ item }} state=latest
  with_items:
#    - '@Development tools'
    - htop
    - git
    - zip
    - unzip
    - curl
    - vim
    - tcl
    - tree
    - zile
    - nano
  when: deployment_environment_id not in ['production']

- name: Disable SELinux (A better approach should be come up with!)
  selinux: state=permissive policy=targeted

# It seems at least in local dev centos 7 the fi_FI locale is already present!
# Make sure it is so also in other envs!
# - name: Install fi_FI locale
#   locale_gen:
#     name: fi_FI.UTF-8
#     state: present

# -wvh- fi_FI is missing from my CentOS image, as is locale_gen; use localedef on CentOS 7.
#       Locales get cached in:
#         /usr/lib/locale/locale-archive
#       Consider reinstalling yum if too many files are missing from the OS image:
#         yum reinstall glibc-common
- name: Make sure fi_FI locale exists
  command: localedef -c -i fi_FI -f UTF-8 fi_FI.UTF-8

- name: Make sure en_GB locale exists
  command: localedef -c -i en_GB -f UTF-8 en_GB.UTF-8

# -wvh- don't, just use LC_CTYPE
#- name: Set default locale as LC_ALL to fi_FI.UTF-8
#  lineinfile:
#    dest: /etc/environment
#    state: present
#    line: "LC_ALL=\"fi_FI.UTF-8\""

#- name: Set default locale as LC_CTYPE to fi_FI.UTF-8
#  lineinfile:
#    dest: /etc/environment
#    state: present
#    line: "LC_CTYPE=\"fi_FI.UTF-8\""

- name: Check for systemd
  command: localectl
  register: is_systemd
  #ignore_errors: yes

- name: Write default locale file
  copy:
    content: |
      # -wvh- file written by ansible
      #LANG="en_GB.UTF8"
      LC_CTYPE="fi_FI.UTF8"
      LC_NUMERIC="fi_FI.UTF8"
      LC_TIME="en_GB.UTF8"
      LC_COLLATE="fi_FI.UTF8"
      LC_MONETARY="fi_FI.UTF8"
      LC_MESSAGES="en_GB.UTF8"
      LC_PAPER="fi_FI.UTF8"
      LC_NAME="fi_FI.UTF8"
      LC_ADDRESS="fi_FI.UTF8"
      LC_TELEPHONE="fi_FI.UTF8"
      LC_MEASUREMENT="fi_FI.UTF8"
      LC_IDENTIFICATION="en_GB.UTF8"
      #LC_ALL=
    dest: /etc/locale.conf
    owner: root
  when: is_systemd

- name: Set timezone to Europe/Helsinki
  timezone:
    name: Europe/Helsinki

- name: Enable NTP (systemd)
  command: timedatectl set-ntp true

- stat: path=/var/log/journal
  register: journal_log

# -wvh- make persistent storage
#       commands:
#         mkdir /var/log/journal
#         systemd-tmpfiles --create --prefix /var/log/journal
#         systemctl restart systemd-journald
#       permissions:
#         drwxr-sr-x root:systemd-journal
#       clean:
#          journalctl --vacuum-time=1years
- name: Switch systemd to persistent logging
  block:
  - name: Create persistent log directory for systemd
    file: path=/var/log/journal state=directory owner=root group=systemd-journal mode=2755
  - name: Run systemd-tmpfiles on journal log directory
    command: systemd-tmpfiles --create --prefix /var/log/journal
  - name: Reload systemd-journald
    command: pkill -USR1 systemd-journald
    when: deployment_environment_id != 'production'
  - name: Reload systemd-journald (production)
    command: pkill -USR1 systemd-journald
    when: deployment_environment_id == 'production'
  when: not journal_log.stat.exists

- include_role: name=users

- name: Create app base directory
  file: path={{ app.base }} state=directory owner={{ app.user }} group={{ app.user }} mode=0755
