---
- name: Install nginx web server
  shell: yum install -y nginx

- name: Ensure that /etc/nginx/qvain exists
  file:
    path: /etc/nginx/qvain
    state: directory

- name: Copy nginx configuration files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: templates/nginx.conf, dest: /etc/nginx/nginx.conf }
    - { src: templates/includes/api.conf, dest: /etc/nginx/qvain/api.conf }
    - { src: templates/includes/normal.conf, dest: /etc/nginx/qvain/normal.conf }
    - { src: templates/includes/normal-without-cache-control.conf, dest: /etc/nginx/qvain/normal-without-cache-control.conf }
    - { src: templates/includes/nginx-cache-control.conf, dest: /etc/nginx/qvain/nginx-cache-control.conf }
    - { src: templates/includes/nginx-secure-headers.conf, dest: /etc/nginx/qvain/nginx-secure-headers.conf }
    - { src: templates/includes/nginx-robots-headers.conf, dest: /etc/nginx/qvain/nginx-robots-headers.conf }
  register: nginx_config

- name: Make sure static web directory exists
  file: path={{app.base}}/static state=directory mode=0775 owner={{app.user}} group={{app.user}} recurse=yes

# this should have happened in the certificates task, but check nevertheless
- name: Make sure web cert directory exists (nginx)
  file: path=/etc/pki/web state=directory mode=0775 owner={{app.user}} group={{app.user}} recurse=yes

- name: Generate Diffie-Hellman parameter for DHE ciphersuites
  command: openssl dhparam -out /etc/pki/web/dhparam.pem 2048 creates=/etc/pki/web/dhparam.pem

- name: (Re)start nginx service
  service: name=nginx state=restarted enabled=yes
  when: nginx_config.changed
