---

- hosts: appservers
  become: yes
  roles:
    - os-base
    - postgres
    - backup
    - redis
    - role: certificates
      when:
       - app.create_dummy_cert
       - deployment_environment_id == 'local_development'
    - nginx
    # - role: letsencrypt
    #   when: deployment_environment_id in ['test', 'stable']
    - role: go
      when: deployment_environment_id not in ['production', 'builder', 'demo']
    - role: provision_app
  handlers:
    - name: restart sshd
      service: name=sshd state=restarted
    - name: restart qvain
      service: name=qvain state=restarted
