---

- set_fact:
    root_path: "{{ playbook_dir | dirname }}"

- name: Pull latest data from front-end repo
  git:
    repo: "{{ app.webrepo }}"
    dest: "{{ root_path }}/qvain-js"
    version: "{{ app.branch }}"
    force: true

- name: Install front-end packages
  shell: "cd; source .nvm/nvm.sh; cd {{root_path}}/qvain-js; npm install"

- name: Build front-end
  shell: "cd; source .nvm/nvm.sh; cd {{ root_path }}/qvain-js; npm run {{ app.npm_build_command }}"
